<h3></h3>

<div>
  <table border="1">
    <thead>
    <tr>
      <th colspan="6">Liste des personnages</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Personnage</td>
      <td>Race</td>
      <td>Peuple</td>
      <td>Caste</td>
      <td>Métier</td>
      <td>Partie</td>
    </tr>
    <tr>


      <td>Lennek</td>
      <td>Darken</td>
      <td>Terres Brulées</td>
      <td>Voyageur</td>
      <td>Espion</td>
      <td>Partie migthy quest</td>
      <td><button  [routerLink]="['/personnage']">Modifier</button></td>
      <td><button>Supprimer</button></td>
    </tr>
    </tbody>
  </table>
</div>
<table>
  <td><button  [routerLink]="['']">Retour</button></td>
  <td><button  [routerLink]="['/personnage']">Nouveau</button></td>
</table>
