.princ {
  background-color: #F5F5DCE1;
  margin: 0 auto;
  border-style: solid;
  border-color: gold;
  text-align: center;
}
.notprinc{
  display: block;
}
button{
  box-shadow: 3px 3px;
  border-radius: 5px;
}
