<div class="container">
  <table border="1">
    <thead>
    <tr>
      <th colspan="6">Liste des personnages</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>Personnage</th>
      <th>Race</th>
      <th>Peuple</th>
      <th>Caste</th>
      <th>Métier</th>
      <th>Partie</th>
    </tr>

    <tr *ngFor ="let personnage of list()">
      <td> {{ personnage.nom }}</td>
      <td> {{ personnage.racePerso?.nomRace}} </td>
      <td> {{ personnage.peuplePerso?.nomPeuple }}</td>
      <td> {{ personnage.castePerso?.nomCaste }} </td>
      <td> {{ personnage.metierPerso?.nomMetier }}</td>
      <td> {{ personnage.parties?.nom }} </td>
      <th><button type="button" style="color:#4497BD" class="btn  btn-light btn-circle" (click)="edit(personnage.id)" [routerLink]="['/personnage']"><i class="fas fa-user-edit"></i></button></th>
      <th><button type="button" style="color:#DE1423" class="btn  btn-light btn-circle" (click)="delete(personnage.id)"><i class="fas fa-trash-alt"></i></button></th>
    </tr>


<!--    [routerLink]="['/personnage']-->

    </tbody>
  </table>

<table>
  <th><button type="button" class="btn btn-danger btn-circle" [routerLink]="['']"><i class="fas fa-arrow-alt-circle-left"></i></button></th>
  <th><button type="button" class="btn btn-primary btn-circle"  [routerLink]="['/personnage']"><i class="fas fa-user-plus"></i></button></th>
</table>


</div>





