.princ {
  background-color: #F5F5DCE1;
  margin: 0 auto;
  border-style: solid;
  border-color: gold;
padding-left: 20px;

  margin: auto;
  margin-left: 20px;
}
button{

  box-shadow: 3px 3px black;
  border-radius: 5px;
}
