<div>
  <p>Ce que je suis : </p>
  <span *ngFor="let race of listRace()">
<input type="radio" name="race" [value]="race" [ngModel]="racePerso">{{race.nomRace}}
</span>

  <p><br>D'où je viens : </p>
  <span *ngFor="let peuple of listpeuple()">
  <input type="radio" name="origine">{{peuple.nomPeuple}}
 </span>
  <br>

  <p><br>Ce que je fais : </p>
  <span *ngFor="let caste of listcaste()">
  <input type="radio" name="caste" [value]="caste" [ngModel]="castePerso" (ngModelChange)="selectCaste($event)">{{caste.nomCaste}}
 </span>

  <p><br>Metiers : </p>
  <div *ngIf="castePerso">
  <span *ngFor="let metier of metiers">
  <input type="radio" name="metiers">{{metier.nomMetier}}
  </span>
  </div>
</div>

<div>
  <br>
  <br>
  <h3>Domaines :</h3>
  <h4>Corps :</h4>
  <p>Combat : <input type="number" style="width: 25px"></p>
  <p>Survie : <input type="number" style="width: 25px"></p>
  <p>Rituel : <input type="number" style="width: 25px"></p>

  <h4>Ame :</h4>
  <p>Magie : <input type="number" style="width: 25px"></p>
  <p>Shaan : <input type="number" style="width: 25px"></p>
  <p>Art : <input type="number" style="width: 25px"></p>

  <h4>Esprit :</h4>
  <p>Social : <input type="number" style="width: 25px"></p>
  <p>Savoir : <input type="number" style="width: 25px"></p>
  <p>Technique : <input type="number" style="width: 25px"></p>

</div>

<button>Validation</button>
