<div class="container">
  <table>
    <thead>
    <tr>
      <th colspan="6">Liste des parties</th>
    </tr>
    </thead>
  </table>
  <table border="1">
  <tbody>
  <tr>
    <th>Partie</th>
    <th>Nombre de joueurs</th>
</tr>
  <tr *ngFor="let table of list()">
    <th>{{table.nom}}</th>
    <th>{{table.personnages.length}}</th>
    <th><button type="button" class="btn btn-danger btn-circle" (click)="delete(table.id)" >Supprimer la partie</button></th>
  </tr>

  </tbody>
  </table>
  <table>
    <th><button type="button" class="btn btn-primary btn-circle" (click)="creer()">Ajouter une partie</button></th>

  </table>
</div>
<div *ngIf="tabledujeu">
  <form>
    <div class="form-group">
    <label for="nom">Nom:</label>
    <input type="text" class="form-control" [(ngModel)]="tabledujeu.nom" [ngModelOptions]="{standalone: true}" id="nom">
  </div>
    <div class="form-group">
     <button type="button" class="btn btn-primary btn-circle" (click)="save()"><i class="fas fa-save"></i></button>
    </div>

  </form>
</div>
