
<div class="container">
  <table class="table table-sm table-hover">
    <thead>
    <tr>
      <th colspan="6">Liste des parties</th>
    </tr>
    </thead>
  <tbody>
  <tr>
    <th>Partie</th>
    <th>Nombre de joueurs</th>
</tr>
  <tr *ngFor="let table of list(this.idMJ)">
    <td>{{table.nom}}</td>
    <td>{{table.personnages.length}}</td>
    <td><button type="button" class="btn btn-danger btn-circle" (click)="delete(table.id)" ><i class="fas fa-times"></i></button></td>
    <td><button type="button" class="btn btn-primary btn-circle" (click)="add(table)" ><i class="fas fa-user-plus"></i></button></td>
    <td><button type="button" class="btn btn-danger btn-circle" (click)="remove(table.id)" ><i class="fas fa-user-minus"></i></button></td>
    <td><button type="button" class="btn btn-primary btn-circle" [routerLink]="['/tabledejeu/'+table.id]" ><i class="fas fa-external-link-square-alt"></i></button></td>
  </tr>

  </tbody>
  </table>
  <table>
    <th><button type="button" class="btn btn-primary btn-circle" (click)="creer()"><i class="fas fa-plus"></i></button></th>

  </table>

<div *ngIf="tabledujeu">
  <form>
    <div class="form-group">
    <label for="nom">Nom:</label>
    <input type="text" class="form-control" [(ngModel)]="tabledujeu.nom" [ngModelOptions]="{standalone: true}" id="nom">
  </div>
    <div class="form-group">
     <button type="button" class="btn btn-primary btn-circle" (click)="save()"><i class="fas fa-save"></i></button>
    </div>

  </form>
</div>
<div *ngIf="show">
  <table border>
    <tr>
      <th>Nom:</th>
    </tr>
  <tr *ngFor="let perso of add()">
    <td>{{perso.nom}}</td>
    <td><button type="button" class="btn btn-primary btn-circle" (click)="linkparties(perso)"><i class="fas fa-plus"></i></button></td>
  </tr>
  </table>
  <button type="button" class="btn btn-primary btn-circle" (click)="close()"><i class="fas fa-reply"></i></button>
</div>
  <div *ngIf="showRemove">
    <table border>
      <tr>
        <th>Nom:</th>
      </tr>
      <tr *ngFor="let perso of listr()">
        <td>{{perso.nom}}</td>
        <td><button type="button" class="btn btn-primary btn-circle" (click)="unlinkparties(perso)"><i class="fas fa-minus"></i></button></td>
      </tr>
    </table>
    <button type="button" class="btn btn-primary btn-circle" (click)="closer()"><i class="fas fa-reply"></i></button>
  </div>
</div>

