<div class="princ">
  <h5>Sélectionnez vos {{counter}} Spécialisations</h5>
  <h3>Spécialisation :</h3>

  <div class="container ">
    <div style="flex: 10%">
      <div *ngIf="bonusPers" class="princ">
        <div *ngFor="let bonus of bonusPers">
          <p>{{bonus.specialisation?.nom}} | {{bonus.bonusPerso}}</p>
        </div>
      </div>
      <button (click)="envoi()" class="btn btn-info btn-circle" [disabled]="counter !=0">Validation</button>
      <div style="flex: 60%">
        <div *ngFor="let domaine of listDomaine()" class="princ">
          <h5>{{domaine.nom}}</h5>
          <div *ngIf="specialisations && domaines">
            <div *ngFor="let specialisation of triSpecialisation(domaine?.nom)">
              <br>
              <h6>{{specialisation.nom}}
                <button [hidden]="counter==0" (click)="ajouteSpe(specialisation); this.counter=this.counter-1">+</button>
                <button [hidden]="findSpe(specialisation)" (click)="suppressionSpe(specialisation); this.counter=this.counter+1">-</button>
              </h6>
              <br>
              <b>{{specialisation.description}}</b>
              <br>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
