<h3>Domaines :</h3>

<div class="container">
  <div style="flex: 40%; background: #ccc">
    <div *ngFor="let domaine of listDomaine()">
      <h5>{{domaine.nom}}</h5>
      <div *ngIf="specialisations && domaines">
        <div *ngFor="let specialisation of triSpecialisation(domaine.nom)">
          <p>{{specialisation.nom}}
            <button (click)="ajouteSpe(specialisation)">+</button>
            <button [hidden]="findSpe(specialisation)" (click)="suppressionSpe(specialisation)">-</button>
          </p>
        </div>
      </div>
    </div>
    <button (click)="envoi()">Validation</button>
  </div>


  <div style="flex: 10%; background: #ccc">
    <div *ngIf="bonusPers">
      <div *ngFor="let bonus of bonusPers">
        <p>{{bonus.specialisation.nom}} | {{bonus.bonusPerso}}</p>
      </div>
    </div>

  </div>
</div>
