<div class="container princ align-content-center">

  <div > <img src="../assets/Logo4-removebg-preview.png" height="320" width="320"></div>
<br>
 <table >
  <tr>
<tr><th>Nom d'utilisateur :</th><th><input [(ngModel)] = "pseudo"></th></tr>
<tr><th>Mot de passe :</th><th><input type="password" [(ngModel)] = "motDePasse"></th></tr> <br>
<b><td value="erreur" [hidden]="erreur == false"> Le Pseudo et le mot de passe ne correspondent pas</td></b> <br>



<tr><th><button (click)="validate()" >Connexion</button></th>
    <th><button  [routerLink]="['/creationcompte/']">Création</button></th></tr></table>

<br>

</div>

