<h3>Domaines :</h3>

<div class="container">
  <div style="flex: 60%">
    <div *ngFor="let domaine of listDomaine()">
      <h5>{{domaine.nom}}</h5>
      <div *ngIf="acquiss && domaines">
        <div *ngFor="let acquis of triAcquis(domaine.nom)">
          <h6>{{acquis.nom}}
            <button [hidden]="!findAcquis(acquis)"(click)="ajouteAcquis(acquis)">+</button>
            <button [hidden]="findAcquis(acquis)" (click)="suppressionAcquis(acquis)">-</button>
          </h6>
          <br>
          <b>{{acquis.description}}</b>
          <br>
        </div>
      </div>
    </div>
    <button (click)="envoi()">Validation</button>
  </div>


  <div style="flex: 10%">
    <div *ngIf="bonusPers">
      <div *ngFor="let bonus of bonusPers">
        <p>{{bonus.acquis.nom}} | {{bonus.specialisation?.nom}} : {{bonus?.bonusAcquis}}</p>
      </div>
    </div>

  </div>
</div>
