<br>
<div class="container princ">
  <div class="container">
    <h3>Informations personnage</h3>
  </div>

  <div class="container">
    <div style="flex: 60%">
      <p>Nom : <input type="text" [(ngModel)]="personnage.nom">
        Sexe : <input type="radio" name="sexe" value="male" [(ngModel)]="personnage.sexe"> Male <input type="radio"
                                                                                                       name="sexe"
                                                                                                       value="femelle"
                                                                                                       [(ngModel)]="personnage.sexe">
        Femelle
        <input type="radio" name="sexe" value="nomoï" [(ngModel)]="personnage.sexe"> Nomoï
      </p>
      <p>
        Age : <input type="text" [(ngModel)]="personnage.age">
        Taille : <input type="text" [(ngModel)]="personnage.taille">
        Poids : <input type="text" [(ngModel)]="personnage.poids">
      </p>
      <p><b>Race : </b><span *ngIf="personnage.racePerso">{{personnage.racePerso.nomRace}}</span></p>
      <p><b>Peuple : </b><span *ngIf="personnage.peuplePerso">{{personnage.peuplePerso.nomPeuple}}</span></p>
      <p><b>Caste : </b><span *ngIf="personnage.castePerso">{{personnage.castePerso.nomCaste}}</span></p>
      <p><b> Métier : </b><span *ngIf="personnage.metierPerso">{{personnage.metierPerso.nomMetier}}</span></p>
      <p><b>Motivations : </b><span *ngFor="let motivation of motivationPerso">
        {{motivation.motivation.nomMotivation}}<br>
      </span></p>
    </div>

    <div style="flex: 3">

    <p>
      <button (click)="save()" [routerLink]="['/accueiljoueur/', this.joueurId]" class="btn btn-info btn-circle" [disabled]="validation || personnage?.nom == '' || personnage?.nom == null">Validation du personnage</button>
    </p>
    <p>
      <button (click)="retour()" class="btn btn-warning btn-circle">Retour à la liste des personnages</button>
    </p>
    <p>
      <button class="btn btn-danger btn-circle" [hidden]="true">Effacer</button>
    </p>


    </div>

  </div>


  <div class="clear"></div>

  <br>
  <div>
    <div class="container">

<!-- Version des boutons navigable 'à integer dans une version future-->
<!--      <button (click)="page = 'identite'" class="btn btn-info btn-circle">Identité</button>-->
<!--      <button (click)="page = 'specialisation'" class="btn btn-info btn-circle" [disabled]="domainePerso[0]?.rangDomaine == null">Spécialisation</button>-->
<!--      <button (click)="page = 'pouvoir'" class="btn btn-info btn-circle" [disabled]="nbrSpe()">Pouvoir</button>-->
<!--      <button (click)="page = 'acquis'" class="btn btn-info btn-circle" [disabled]="pouvoirPerso.length ==0">Acquis</button>-->
<!--      <button (click)="page = 'motivation'" class="btn btn-info btn-circle" [disabled]="nbrAcquis()">Motivation</button>-->

            <div class="onglet btn btn-info btn-circle" [class.active]="page === 'identite'" >Identité</div>
            <div class="onglet btn btn-info btn-circle" [class.active]="page === 'specialisation'">Spécialisation</div>
            <div class="onglet btn btn-info btn-circle" [class.active]="page === 'pouvoir'">Pouvoir</div>
            <div class="onglet btn btn-info btn-circle" [class.active]="page === 'acquis'">Acquis</div>
            <div class="onglet btn btn-info btn-circle" [class.active]="page === 'motivation'">Motivation</div>

    </div>

    <div class="container">

      <personnage-identite *ngIf="page === 'identite'" (personnageEnvoi)="receptionPerso($event)"
                           (domainePersoEnvoi)="receptionDomaine($event)" (pageEnvoi)="page = $event"></personnage-identite>

      <personnage-specialisation *ngIf="page === 'specialisation'"
                                 (specialisationEnvoi)="receptionSpecialisation($event)"
                                 [current]="personnage" (pageEnvoi)="page = $event"></personnage-specialisation>

      <personnage-pouvoir *ngIf="page === 'pouvoir'" (pouvoirEnvoi)="receptionPouvoir($event)"
                          [current]="domainePerso" (pageEnvoi)="page = $event"></personnage-pouvoir>

      <personnage-acquis *ngIf="page === 'acquis'" (acquisEnvoi)="receptionAcquis($event)"
                         [current]="domainePerso" (pageEnvoi)="page = $event"></personnage-acquis>

      <personnage-motivation *ngIf="page === 'motivation'" (motivationEnvoi)="receptionMotivation($event)"
                             [current]="domainePerso" (validationEnvoi)="validation = $event" (pageEnvoi)="page=$event"></personnage-motivation>

    </div>
  </div>
</div>
